numpy
ollama
pyttsx3
SpeechRecognition[google-cloud]
PyAutoGUI
pynput
geocoder
simplegmail
google-cloud-speech
easyocr
keyboard
python-dotenv
flask
git+https://github.com/killjoy1221/playsound.git
pyaudio